<section class="angular">
  <h1>Angular Show</h1>
  <div render="true" url="docs/show" ng-init="doc=ctrl.rails.doc"></div>
</section>


<section class="rails">
  <h1>Rails Scaffold</h1>
  <h3>Doc Show</h3>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @doc.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @doc.description %>
  </p>

  <%= link_to 'Edit', edit_doc_path(@doc) %> |
  <%= link_to 'Back', docs_path %>
</section>
